#gameboard{
    display: flex;
    flex-wrap: wrap;
    width: 320px;
}

.firstRow>div, .secondRow>div, .thirdRow>div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
}

#gameboard>div{
    background-color: cadetblue;
    display: flex;
}

#announcementsDisplay{
    height: 100px;
    width: 500px;
    background-color: burlywood;
}