html, body{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:olivedrab;
}

#gameboard{
    display: flex;
    flex-wrap: wrap;
    width: 306px;
}

.firstRow>div, .secondRow>div, .thirdRow>div{
    height: 100px;
    width: 100px;
    border: 1px solid black;
    line-height: 100px;
    white-space: nowrap;
    text-align: center;
    font-size: 80px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gameboard>div{
    background-color: cadetblue;
    display: flex;
}

header{
    width: 100%;
    background-color: rgb(240, 236, 11);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 84px;
    margin: 10px;
}

main{
    display: flex;
    flex-wrap: wrap;
    width: 956px;
    flex: 1 0 auto;
    justify-content: space-evenly;
}

.playerSection{
    height: 500px;
    width: 300px;
}

#playerSection1{
    background-color:rgb(0, 45, 168);
}

#playerSection2{
    background-color:maroon;
}

.nameDisplay{
    width: 78%;
    background-color: darksalmon;
    margin: 20px;
    font-size: 30px;
    font-family: monospace;
    padding: 15px;
}

.playerSection>button{
    margin: 0px 20px;
    font-size: 13px;
    padding: 1px 6px;
}

footer{
    width: 100%;
    flex-shrink: 0;
    background-color: darkcyan;
}

.restartButtonBox{
    margin: 10px 10px 0px 10px;
}

#restartButton{
    font-size: 18px;
    padding: 3px 12px;
}

#announcementsDisplay{
    height: 150px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 200px;
    background-color: rgba(240, 182, 128, 0.932);
    font-family: monospace;
    font-size: 60px;
}

.nameForm{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:dodgerblue;
    height: 150px;
    width: 300px;
    position: absolute;
    left: 50%;
    top: 300px;
    transform: translateX(-50%);
    border: none;
    border-radius: 5px;
}